

 <h1  align ="center">{{title}}</h1>
    <div>
   <table align="center">
    <tr *ngFor="let employee of employees; index as i ">
  <table>
    <tr id ="abc" (click)= "deselect()">
      <th>Employee ID</th>
      <td >{{employee.empID}}</td>
      <th colspan="2">Employee Name</th>
      <td >{{employee.empName}}</td>
      <th colspan="2">Employee Leave Balance</th>
      <td colspan="2">{{employee.empLeaveBalance}}</td>
    </tr>
    <tr id="xyz" (click)= "deselect()">
      <td rowspan="100"></td>

      <th>Leave ID</th>
      <th>Number of Days</th>
      <th width ="30%">Start Date</th>
      <th width ="30%">End Date</th>
      <th width ="30%">Leave Type</th>
      <th>Status</th>
      <th colspan="2" width ="50%" id="reason">Reason</th>
    </tr>
    <tr *ngFor="let leavedetail of leavedetails[i]" (click)="clickRow(leavedetail, employee)"
    [class.highlighted]= "leavedetail.levId === selectedRow">
   
      
      <td>{{leavedetail.levId}}</td>
      <td>{{leavedetail.levNoOfDays}}</td>
      <td>{{leavedetail.levStartDate | date: 'dd'}}/{{employee.empDoj | date:'MM'}}/{{employee.empDoj | date: 'yyyy'}}</td>
      <td>{{leavedetail.levEndDate | date: 'dd'}}/{{employee.empDoj | date:'MM'}}/{{employee.empDoj | date: 'yyyy'}}</td>
      <td>{{leavedetail.levType}}</td>
      <td>{{leavedetail.levStatus}}</td>
      <td colspan="2" style="width:25%">{{leavedetail.levReason}}</td>
     
    </tr>
  </table>
</tr>
</table>
    <div  *ngIf="showButton">
    <input type="button" (click)="doApproveDeny()" value="Approve/Deny"class="btn btn-info primary">
    </div>
    
    <div *ngIf="!showButton">
    <input type="button" value="Approve/Deny" disabled="disabled"class="btn btn-info primary" >
    </div>

</div>



