
<body>
        
    <div class="fixed-header">
        <div class="container">
            <nav>
                <H1 align="center">LEAVE MANAGEMENT SYSTEM</H1>
            </nav>
        </div>
    </div>
    <div class="container">

    </div>    
    <div class="fixed-footer">
        <div class="container">Copyright &copy; 2018 FTP07</div>        
    </div>
    <div>
                
             </div>
             <main>
             <router-outlet> </router-outlet>
             </main>
        
</body>

